<%= form_with(model: notification, local: true) do |form| %>
  <% if notification.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(notification.errors.count, "error") %> prohibited this notification from being saved:</h2>

      <ul>
      <% notification.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
   <%= form.label :ファイル選択 %>
   <%= form.file_field :filename %>
  </div>

  <div class="field">
    <%= form.label :カテゴリー %>
    <%= form.number_field :category, id: :notification_category ,min: 1,max: 2 %>

  </div>

  <div class="field">
    <%= form.label :表示日付 %>
    <%= form.date_select :d_day, id: :notification_d_day %>
  </div>

  <div class="actions">
    <%= submit_tag "登録" %>
  </div>



<% end %>
