<p id="notice"><%= notice %></p>

<!DOCTYPE html>
<html lang="ja">
<meta charset=”utf-8″>

<div class="n-sub"></div>
  <div class="n-sub n-sub2"></div>
  <div class="n-sub n-sub3"></div>

<h1 style="text-align:left" class="n-title" >お知らせ一覧</h1>

<table width="90%">
 <thead class="n-hyou">
  <tr>
    <th width="50%" class="fs25">時間割</th>
    <th class="fs25">お知らせ</th>
    </tr>
 </thead>

 <tbody class="n-hyou">
   <div class = "inline-block_test" >
     <tr class = "center">
       <% if @today_timetable.present? %>
         <td>
         <%= link_to asset_url("#{@today_timetable.filename}"), target: "_blank" do %>
           <%= image_tag @today_timetable.filename %>
         <% end %>
         </td>
       <% else %>
         <td class="fs15">時間割変更はありません</td>
       <% end %>
       
        <% if @tomorrow_notice.present? %>
          <td>
          <%= link_to asset_url("#{@tomorrow_notice.filename}"), target: "_blank" do %>
            <%= image_tag @tomorrow_notice.filename %>
        <% end %>
          </td>
        <% else %>
          <td class="fs15">お知らせはありません</td>
        <% end %>
     </tr>
   </div>
  </tbody>
</table>

<br>
<br>

<% if @user_code && @user_code.first == "t" %>
    <%= link_to '登録', new_notification_path,class: "btn-not" %>
  <br>
    <table border="1">
  <br>
      <thead class="n-hyou2">
        <tr>
          <th class="fs25">表示日付</th>
          <th class="fs25">カテゴリー</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody class="n-hyou">
        <% @notifications.each do |notification| %>
          <tr>
            <td class="fs20">
              <%= notification.d_day.strftime('%Y/%m/%d') %>
            </td>
            <td class="fs20">
            <% if notification.category == 1 %>
              時間割
            <% else %>
              お知らせ
            <% end %>
            </td>
            <td><%= link_to '詳細', notification,class: "btn-not" %></td>
            <td><%= link_to '編集', edit_notification_path(notification),class: "btn-not" %></td>
            <td><%= link_to '削除', notification, method: :delete, data: { confirm: '本当に削除しますか?' },class: "btn-not" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
<% end %>
