<div class="n-sub"></div>
  <div class="n-sub n-sub2"></div>
  <div class="n-sub n-sub3"></div>

  <b class="n-title">お知らせ詳細</b>
  <p id="notice"><%= notice %></p>
  
<p class="fs25">
  <strong>ファイル名:</strong>
  <%= @notification.filename %>
</p>

<p class="fs25">
  <strong>カテゴリー:</strong>
  <% if @notification.category == 1 %>
  時間割
<% else %>
  お知らせ
<% end %>
</p>

<p class="fs25">
  <strong>表示日付:</strong>
  <%= @notification.d_day.strftime('%Y/%m/%d') %>
</p>

<table>
  <tr>
   <td>
     <% if @notification.filename.present? %>
       <%= image_tag @notification.filename %>
     <% end %>
   </td>
  </tr>

</table>

<p class="fs20">
<%= link_to '編集', edit_notification_path(@notification),class:"submit" %> |
<%= link_to '戻る', notifications_path,class:"submit" %>
</p>