<p id="notice"><%= notice %></p>

<p>
  <strong>ファイル名:</strong>
  <%= @notification.filename %>
</p>

<p>
  <strong>カテゴリー:</strong>
  <% if @notification.category == 1 %>
  時間割
<% else %>
  お知らせ
<% end %>
</p>

<p>
  <strong>表示日付:</strong>
  <%= @notification.d_day %>
</p>

<table>
  <tr>
   <td>
     <% if @notification.filename.present? %>
       <%= image_tag @notification.filename %>
     <% end %>
   </td>
  </tr>

</table>

<%= link_to '編集', edit_notification_path(@notification) %> |
<%= link_to 'Back', notifications_path %>
