<% if user.errors.any? %>
<div id="error_explanation">
  <h2>❣ 入力項目に<%= pluralize(user.errors.count,"") %>つのエラーがあります</h2>

  <ul>
  <% user.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
  </ul>
</div>
<% end %>

<div class="field">
<div style="display:inline-flex">
  <%= form.label :学籍番号 %><font color = "#228b22">(半角)</font>
</div>
<br>
  <%= form.text_field :number, id: :user_number %>
</div>

<!-- <div class="field">
<%= form.label :"年" %>
<%= form.select :grade,{"":"","1":"1","2":"2","3":"3"}%>
</div> -->

<!-- <div class="field">
<%= form.label :"組" %>
<%= form.select :class_room,{"":"","1":"1","2":"2","3":"3","4":"4"}%>
</div> -->


<div class="field">
<%= form.label :名前 %>
<%= form.text_field :name, id: :user_name %>
</div>

<div class="field">
<%= form.label :フリガナ %>
<%= form.text_field :kana, id: :user_kana %>
</div>

<div class="field">
<%= form.label :性別 %>
<label><%= form.radio_button :gender,  "男"%>男</label>
<label><%= form.radio_button :gender,  "女"%>女</label>
</div>

<div class="field">
  <div style="display:inline-flex">
    <%= form.label :パスワード %><font color = "#228b22">(更新したい場合のみ入力してください。)</font>
  </div>
  <br>
  <%= form.password_field :password, id: :user_password %>
  <br>
  <div style="display:inline-flex">
    <%= form.label :パスワード確認 %><font color = "#228b22">(更新したい場合のみ入力してください。)</font>
  </div>
  <br>
  <%= form.password_field :password_confirmation %>
</div>

<div class="actions">
<%= submit_tag "更新" %>

<script type="text/javascript">
function isCheck() {
var user_password = document.getElementsById("user_password");
var user_password_confirmation = document.getElementsByClassName("user_password_confirmation");
window.alert(user_password);
return false;
}

$(document).on("change", "#user_number", function(){
let str = $(this).val()
str = str.replace( /[^!-~]/g , "" );
$(this).val(str);
});
</script>
