<% if flash[:notice] %>
  <div class="alert alert-info" role="alert"><%= flash[:notice] %></div>
<% end %>

<h1>ユーザー一括登録</h1>

<div>
  <%= form_with url: users_bulk_create_path, multipart: true do |f| %>
    <div class="search_item">
      <%= f.file_field 'users_file' %>
    </div>
    <br>
    <div>
<<<<<<< HEAD
      <button type="submit">CSVインポート</button>
      <%= submit_tag "CSVインポート" %>
=======
      <button type="submit" class="btn btn-primary">
        CSVインポート
      </button>
>>>>>>> 055e1e352b69651593844076f0b2f3385bc52979
    </div>
  <% end %>
</div>

<br>
<%= link_to '戻る', users_path %>


