<% if flash[:error] %>
  <div class="alert alert-info" role="alert" style="color:red;"><%= flash[:error] %></div>
<% end %>


<h1>ユーザー一括登録</h1>

<div>
csvファイル
  <%= form_with url: users_bulk_create_path, multipart: true do |f| %>
    <div class="search_item">
      <%= f.file_field 'users_file' %>
    </div>
    <br>
    <div>
      <%= submit_tag "登録" %>　<%= link_to '戻る', users_path,class: "btn-users" %>      
    </div>
  <% end %>

  <%= button_to 'csvテンプレートファイルのダウンロード', users_download_path, method: :get %>
</div>

