<div class="u-sub"></div>
<div class="u-sub u-sub2"></div>
<div class="u-sub u-sub3"></div>

<b class="u-title">ユーザー一括登録</b>
<br>
<br>
<% if flash[:error] %>
  <div class="alert alert-info" role="alert" style="color:red;"><%= flash[:error] %></div>
<% end %>

<font color="#228b22" size="3"><b>登録する際には以下のことに注意してください。</b></font>

<div style="width: 35%; padding: 10px; margin-bottom: 10px; border: 1px dashed #333333; border-radius: 5px; background-color: #ffffe0;">  
  ・CSVファイルをダウンロードして入力
  <br>
  ・全項目を必ず入力
  <br>
  ・学籍番号は半角で入力
  <br>
  ・フリガナはカタカナで入力
</div>


<div>
  <br>
  <%= button_to 'CSVテンプレートファイルのダウンロード', users_download_path, method: :get,class:"submit" %>
  <br>
</div>
  <br>
<div class="fs20">
  CSVファイル
  <%= form_with url: users_bulk_create_path, multipart: true do |f| %>
    <div class="search_item">
      <%= f.file_field 'users_file',class:"submit" %>
    </div>
    <br>

    <p class="fs20">追加するクラスを選択してください
    <br>
    <br>
      <font size="3">
      <input type="radio" name="num_of_inq" value="0組">0組（生徒以外）
      <input type="radio" name="num_of_inq" value="1">1組
      <input type="radio" name="num_of_inq" value="2">2組
      <input type="radio" name="num_of_inq" value="3">3組
      <input type="radio" name="num_of_inq" value="4">4組
      </font>
    </p>
    <p><font color="red" size="3">※登録には数分かかる場合があります。</font></p>
    <div>
      <%= submit_tag "登録",class:"submit" %>　<%= link_to '戻る', users_path,class: "submit" %>      
    </div>
  <% end %>
</div>



    
