<p id="notice"><%= notice %></p>

<b><font size="6">ユーザー一覧</font></b> 
  <div style="text-align: right;float:right">
    <span>
      <%= link_to 'Top', home_top_path %>
      <br>
      <%= link_to '一括登録', new_user_path %>
      &thinsp; 
      <%= link_to '１つずつ登録', new_user_path %>
    </span>
  </div>




<%= form_tag('/users_search') do %>
  <p>
    年&thinsp;　　組  　 名前
    <br>
 <%= select_tag 'search[grade]',options_for_select({１:"1",２:"2",３:"3"},{ :selected => session[:search_grade]}),include_blank: true %><%= select_tag 'search[class_room]',options_for_select({１:"1",２:"2",３:"3",４:"4"},{ :selected => session[:search_class_room]}),include_blank: true %><%= text_field_tag 'search[name]',session[:search_name] %><%= submit_tag '検索🔍' %>
  </p>
<% end %> 
  

<%= form_tag('/users_select_edit') do %>

  <table border="1" width="100%">

  
    <caption align="right">

      <%=submit_tag "選択編集"%>
      &thinsp; 
      <%=submit_tag "選択削除"%>
    </caption>

    <thead>

      <tr>    
        <th><label for="all"><input type="checkbox" name="allChecked" id="all"></label></th>
        <th>年</th>
        <th>組</th>
        <th>番</th>
        <th>名前</th>
        <th>性別</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>

      <% @users.each_with_index do |user, idx| %>
      
        <tr>
          <td width="5%" align="center"><%= check_box_tag "select_datas[#{ user.id }]", user.id, false, class: 'list' %></td>
          <td width="5%" align="center"><%= user.grade %></td>
          <td width="5%" align="center"><%= user.class_room %></td>
          <td width="5%" align="center"><%= idx+1 %></td>
          <td width="40%" align="center"><%= user.name %></td>
          <td width="10%" align="center"><%= user.gender %></td>
          <td width="15%" align="center"><%= link_to '編集', edit_user_path(user) %></td>
          <td width="15%" align="center"><%= link_to '詳細', user %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>



<script>
  $(function() {
    $('#all').on("click",function(){
      $('.list').prop("checked", $(this).prop("checked"));
    });
  });
</script>