<div class="u-sub"></div>
<div class="u-sub u-sub2"></div>
<div class="u-sub u-sub3"></div>


<% if params[:commit] == "選択編集" %>
  <b class="u-title">ユーザー選択編集</b>
  <p>
  <font color = "#006400"><b><h3>以下のデータを一括でクラス替えします。編集したくないデータは、チェックを外してください。</h3></b></font>
  </p>
  
<% else %>
  <b class="u-title">ユーザー選択削除</b>
  <p>
  <font color = "#006400"><b><h3>以下のデータを一括削除します。削除したくないデータは、チェックを外してください。</h3></b></font>
  </p>

<% end %>



<%= form_tag('/users_select_edit_all') do %>

  <% if params[:commit] == "選択編集" %>
    <div class="fs20" class="field" style="float:left;">
      <%= label_tag :年 %> 
      <%=select_tag 'user[grade]',options_for_select({０:"0",１:"1",２:"2",３:"3"}, :selected => @users_default_class),:class => "select_grade" %>
    </div>

    <div class="fs20" class="field" style="float:left;">
      <%= label_tag :組 %> 
      <%=select_tag 'user[class_room]',options_for_select({０:"0",１:"1",２:"2",３:"3",４:"4"}),:class => "select_class_room" %>
    </div>

    <br>
    <div style="float:left;"><%=submit_tag "選択編集",class:"submit"%></div>

  <% else %>
    <%=submit_tag "選択削除",class:"submit",onclick: "return isCheck()" %>

  <% end %>

  <table border="1" width="100%">

    <div style="text-align: right;float:right">
      <%= link_to '戻る', users_path,class: "submit" %>
    </div>

    <thead class="uback2">
    
      <tr class="uback2">    
        <th></th>
        <th class="fs25">年</th>
        <th class="fs25">組</th>
        <th class="fs25">名前</th>
        <th class="fs25">性別</th>
      </tr>
    </thead>

    <tbody class="uback">
      <% @users.each do |user| %>
  
        <tr>
          <td width="5%" align="center"><%= check_box_tag "select_datas[#{ user.id }]", user.id, {:checked => "checked"},:class => "list" %></td>
          <td width="5%" align="center" class="fs20"><%= user.grade %></td>
          <td width="5%" align="center" class="fs20"><%= user.class_room %></td>
          <td width="40%" align="center" class="fs20"><%= user.name %></td>
          <td width="10%" align="center" class="fs20"><%= user.gender %></td>
        </tr>
      <% end %>
    </tbody>
  </table>


<% end %>

<script type="text/javascript">
function isCheck() {
	var arr_checkBoxes = document.getElementsByClassName("list");
  var count = 0;
	var select_grade = document.getElementsByClassName("select_grade");
	var select_class_room = document.getElementsByClassName("select_class_room");
  var user_count = 0;
  var flg1 = false;
	for (var i = 0; i < arr_checkBoxes.length; i++) {
		if (arr_checkBoxes[i].checked) {
			count++;
		}
	}
  if (count > 0) {
		flg1 = window.confirm("本当に削除しますか？");
	} else {
		window.alert("項目を選択してください。");
		flg1 = false;
	}

    if (flg1) {
      return true;
    } else {
      return false;
    }
  }
</script>


