<% if params[:commit] == "選択編集" %>
  <h1>選択編集画面</h1>
<% else %>
  <h1>選択削除画面</h1>
<% end %>


<p>
<font color = "#006400"><b>項目を確認してください</b></font>
</p>
<%= link_to '一覧に戻る', users_path %>




<%= form_tag('/users_select_edit_all') do %>

  <div class="field">
    <%= label_tag :年 %> 
    <%=select_tag ({１:"1",２:"2",３:"3"}) %>
  </div>


  <table border="1" width="100%">

    <thead>


      <tr>    
        <th></th>
        <th>年</th>
        <th>組</th>
        <th>番</th>
        <th>名前</th>
        <th>性別</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
  
        <tr>
          <td width="5%"><%= check_box_tag "select_datas[#{ user.id }]", user.id, {:checked => "checked"} %></td>
          <td width="5%"><%= user.grade %></td>
          <td width="5%"><%= user.class_room %></td>
          <td width="5%"><%= user.id %></td>
          <td width="40%"><%= user.name %></td>
          <td width="10%"><%= user.gender %></td>
          <td width="15%"><%= link_to '編集', edit_user_path(user) %></td>
          <td width="15%"><%= link_to '詳細', user %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <% if params[:commit] == "選択編集" %>

    <%=submit_tag "一括編集"%>

    <%= form_with(model: @user, local: true) do |form| %>
      <%= render 'form4', user: @user, form: form %>
    <% end %>

    <% else %>

    <%=submit_tag "一括削除"%>

  <% end %>

<% end %>


