<div class="u-sub"></div>
<div class="u-sub u-sub2"></div>
<div class="u-sub u-sub3"></div>

<h1 class="u-title">ユーザー詳細</h1>


<p id="notice">
  <%= notice %>
</p>

<p>
  <%= @user.grade %>
  <strong>
    年
  </strong>
  
  <%= @user.class_room %>
  <strong>
    組
  </strong>
</p>

<p>
  <strong>
    名前:
  </strong>
  <%= @user.name %>
</p>

<p>
  <strong>
    フリガナ:
  </strong>
  <%= @user.kana %>
</p>

<p>
  <strong>
    性別:
  </strong>
  <%= @user.gender %>
</p>

<p>
  <strong>
    学籍番号:
  </strong>
  <%= @user.number %>
</p>

<!-- 
<p>
  <strong>パスワード:</strong>
  <%= @user.password %>
</p>
-->

<%= link_to '編集', edit_user_path(@user),class: "btn-users" %> |
<%= link_to '戻る', users_path,class: "btn-users" %>
