<p id="notice"><%= notice %></p>

<p>
  <strong>学籍番号:</strong>
  <%= @user.number %>
</p>

<p>
  <strong>年:</strong>
  <%= @user.grade %>
</p>

<p>
  <strong>組:</strong>
  <%= @user.class_room %>
</p>

<p>
  <strong>名前:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>ふりがな:</strong>
  <%= @user.kana %>
</p>

<p>
  <strong>性別:</strong>
  <%= @user.gender %>
</p>

<p>
  <strong>パスワード:</strong>
  <%= @user.pass %>
</p>

<%= link_to '編集', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
