<br><br><br><br><br><br>
<h1 style="font-size:35px;
text-align:center;
color: #ff6600;">
SunS
</h1>
<div style="text-align:center;
font-weight:bold; 
color:#000000;
font-size:15px;
width:27%;
padding: 0.5em 1em;
margin: auto;
color: #5d627b;
background: white;
border: solid 3px #396cc92d;
box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);">
  <h1 style="font-size:25px;">
    ログイン
  </h1>

   <% if flash[:alert] %>
    <p style="color:red;text-align:center;"><%= flash[:alert] %></p>
   <% end %>

<h1 style="text-align:center;font-size:25px">
<%= form_tag('/check') do %>

    <%= label_tag :ユーザーID %><br>
    <%= text_field_tag :number %><br>
  
    <%= label_tag :パスワード %><br>
    <%= password_field_tag :password %><br><br>

    
      <%= submit_tag "ログイン" %></h1>
    
    </div>
<% end %>
