<span>
  <div style="font-size:35px">
    
    <div style="text-align:left;float:left;font-size:20px">ログインユーザ：<%= @user_code %>
    
    <% if @user_code %>
      <%= link_to 'ログアウト',home_logout_path %>
    <% else %>
      <%= link_to 'ログイン',login_path %>
    <% end %>
     
    </div>
  </div>
</span>

<h7>
<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>
</div>



<h6>
  <span>
  SUNS
  </span>
</h6>
<br><br><br><br><br><br><br><br>



  <!--<h1
     style="text-align:center;font-size:105px"class ="title">suns
  </h1>-->

  <br>

  <p
    style="text-align:center;font-size:45px">
      <strong>
      <a href="http://localhost:3000/submissions" class="btn-sticky-1">提出物一覧</a>
        <!--<%= link_to '提出物一覧',submissions_path %>-->
      </strong><br>
  </p>

  <p
    style="text-align:center;font-size:45px">
    <strong>
    <a href="http://localhost:3000/notifications" class="btn-sticky-2">お知らせ一覧</a>
      <!--<%= link_to 'お知らせ一覧',notifications_path %>-->
    </strong><br>
  </p>

  <p
    style="text-align:center;font-size:45px">
    <strong>
      <% if @annual_event %>
        <%= link_to '行事予定', asset_url("#{@annual_event.filename}"),class: "btn-sticky-3", target: :_blank %>
      <% end %>
    </strong><br>
  </p>

<% if @user_code && @user_code.first == "t" %>
  <p
    style="text-align:center;font-size:45px">
    <strong>
        <!--<a href="http://localhost:3000/users" class="btn-sticky-4">ユーザー一覧</a>-->
  <%= link_to 'ユーザー一覧',users_path,class: "btn-sticky-4" %>
    </strong><br>
  </p>

  <% if @annual_event.present? %>
    <p
    style="text-align:center;font-size:45px">
    <strong>
     <%= link_to '行事予定編集',edit_annual_event_path(@annual_event) ,class: "btn-sticky-5" %>
    </strong><br>
   </p>
  <% else %>
     <p
     style="text-align:center;font-size:45px">
     <strong>
       <!--<%= link_to '行事予定登録',new_annual_event_path %>-->
     </strong><br>
   </p>
  <% end %>
<% end %>

