<<<<<<< HEAD
<p style="font-size:35px"><%=  Date.current.strftime('%Y/%m/%d') %></p><p style="text-align:right">number</p>

<h1 style="text-align:center;font-size:105px">suns</h1>
<%= link_to '提出物一覧',submissions_path %><br>
<%= link_to 'お知らせ一覧',notifications_path %><br>
<%= link_to '行事予定',annual_events_path %><br>
<%= link_to 'ユーザー一覧',users_path %><br>
<%= link_to '行事予定登録',new_annual_event_path %><br>
=======

<h1 style="text-align:center;font-size:120px">suns</h1>

<h1 style="text-align:center;font-size:40px"><%= link_to '提出物一覧',submissions_path %></h1><br>
<h1 style="text-align:center;font-size:40px"><%= link_to 'お知らせ一覧',notifications_path %></h1><br>
<h1 style="text-align:center;font-size:40px"><%= link_to '行事予定',annual_events_path %></h1><br>
<h1 style="text-align:center;font-size:40px"><%= link_to 'ユーザー一覧',users_path %></h1><br>
<h1 style="text-align:center;font-size:40px"><%= link_to '行事予定登録',new_annual_event_path %></h1><br>
>>>>>>> c3728357145372315cf389cc9fed06a668ad5c0b
