<span>
  <div style="font-size:35px"><%=  Date.current.strftime('%Y/%m/%d') %>
    <div style="text-align:right;float:right;font-size:25px">ログインユーザ：<%= @user_code %>
      <%= link_to 'ログアウト',login_path %>
    </div>
  </div>
</span>

  <h1
     style="text-align:center;font-size:105px"class ="title">suns
  </h1>

<br>

  <p
    style="text-align:center;font-size:45px">
      <strong>
        <%= link_to '提出物一覧',submissions_path %>
      </strong><br>
    </p>

  <p
    style="text-align:center;font-size:45px">
    <strong>
      <%= link_to 'お知らせ一覧',notifications_path %>
    </strong><br>
  </p>

  <p
    style="text-align:center;font-size:45px">
    <strong>
      <%= link_to '行事予定',annual_events_path %>
    </strong><br>
  </p>

  <p
    style="text-align:center;font-size:45px">
    <strong>
      <%= link_to 'ユーザー一覧',users_path %>
    </strong><br>
  </p>

  <p
    style="text-align:center;font-size:45px">
    <strong>
      <%= link_to '行事予定登録',new_annual_event_path %>
    </strong><br>
  </p>

  <p
  style="text-align:center;font-size:45px">
  <strong>
    <%= link_to '行事予定編集',new_annual_event_path %>
  </strong><br>
</p>