  <div style="font-size:20px;font-wetght: bold ;display: flex;
    justify-content: space-between;">ログインユーザー：<%= @user_code %>
    
      <% if @user_code %>
        <%= link_to '►ログアウト',home_logout_path,class:"btn-logout" %>
      <% else %>
        <%= link_to 'ログイン',login_path,class:"btn-logout" %>
      <% end %>
         
           <%=  Date.current.strftime('%Y/%m/%d(%a)') %>
     
    </div>

  <div class="bg"></div>
  <div class="bg bg2"></div>
  <div class="bg bg3"></div>

<div class="suns">
  <span>
    SUNS
  </span>

  <div class="title-bottom">
    <font face="ＭＳ Ｐゴシック" size="3">
      お知らせ・提出物管理システム
    </font>
    <br>
  </div>
</div>
<br><br><br><br><br><br><br><br>
<br><br><br><br><br>
  
    

<p
style="text-align:center;font-size:45px">
    <strong>
      <%= link_to '提出物一覧',submissions_path,class: "btn-sticky-1" %>
    </strong><br>
</p>

<p
style="text-align:center;font-size:45px">
  <strong>
    <%= link_to 'お知らせ一覧',notifications_path,class: "btn-sticky-2" %>
  </strong><br>
</p>

<p
 style="text-align:center;font-size:45px">
  <strong>
    <% if @annual_event %>
      <%= link_to '行事予定', asset_url("#{@annual_event.filename}"),class: "btn-sticky-3", target: :_blank %>
    <% end %>
  </strong><br>
</p>

<% if @user_code && @user_code.first == "t" %>
  <p
  style="text-align:center;font-size:45px">
    <strong>
      <%= link_to 'ユーザー一覧',users_path,class: "btn-sticky-4" %>
    </strong><br>
  </p>

  <% if @annual_event.present? %>
    <p
    style="text-align:center;font-size:45px">
      <strong>
        <%= link_to '行事予定編集',edit_annual_event_path(@annual_event) ,class: "btn-sticky-5" %>
      </strong><br>
   </p>

  <% else %>

     <p
     style="text-align:center;font-size:45px">
       <strong>
         <%= link_to '行事予定登録',new_annual_event_path,class: "btn-sticky-5" %>
       </strong><br>
   </p>
  <% end %>
<% end %>

