<% if submission.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(submission.errors.count, "error") %> prohibited this submission from being saved:</h2>

    <ul>
    <% submission.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="field">
  <%= form.label :対象 %>
  <table>
    <tr>
      <th></th><th></th><th></th><th></th>
    </tr>
    <tr>
      <td><label><%= check_box_tag "[target][11]",1,false,:class => "list" %>1年1組</label></td>
      <td><label><%= check_box_tag "[target][12]",1,false,:class => "list" %>1年2組</label></td>
      <td><label><%= check_box_tag "[target][13]",1,false,:class => "list" %>1年3組</label></td>
      <td><label><%= check_box_tag "[target][14]",1,false,:class => "list" %>1年4組</label></td>
    </tr>
    <tr>
      <td><label><%= check_box_tag "[target][21]",1,false,:class => "list" %>2年1組</label></td>
      <td><label><%= check_box_tag "[target][22]",1,false,:class => "list" %>2年2組</label></td>
      <td><label><%= check_box_tag "[target][23]",1,false,:class => "list" %>2年3組</label></td>
      <td><label><%= check_box_tag "[target][24]",1,false,:class => "list" %>2年4組</label></td>
    </tr>
    <tr>
      <td><label><%= check_box_tag "[target][31]",1,false,:class => "list" %>3年1組</label></td>
      <td><label><%= check_box_tag "[target][32]",1,false,:class => "list" %>3年2組</label></td>
      <td><label><%= check_box_tag "[target][33]",1,false,:class => "list" %>3年3組</label></td>
      <td><label><%= check_box_tag "[target][34]",1,false,:class => "list" %>3年4組</label></td>
    </tr>
  </table>
</div>

<div class="field">
  <%= form.label :画像 %>
  <%= form.file_field :filename %>
</div>

<div class="actions">
  <%= form.submit "登録", onclick: "return isCheck()"  %>
</div>

<script type="text/javascript">
  function isCheck() {
  var arr_checkBoxes = document.getElementsByClassName("list");
  var count = 0;
  for (var i = 0; i <arr_checkBoxes.length; i++) {
    if (arr_checkBoxes[i].checked) {
      count++;
    }
  }
  if (count > 0) {
    return true;
  } else {
    window.alert("項目を1つ上選択してください。");
    return false;
  }
}
</script>