<% if submission.errors.any? %>
  <div id="error_explanation">
    <h2>
      入力項目に<%= pluralize(submission.errors.count, "") %>つのエラーがあります
    </h2>

    <ul>
      <% submission.errors.full_messages.each do |message| %>
        <li>
          <%= message %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
<br>
<div class="fs20">
  <%= form.label :科目 %>
  <%= form.text_field :subject, id: :submission_subject, placeholder: '入力してください'%>
</div>
<br>
<div class="fs20">
  <%= form.label :タイトル %>
  <%= form.text_field :title, id: :submission_title, placeholder: '入力してください'%>
</div>
<br>
<div class="fs20">
  <%= form.label :期限 %>
  <%= form.date_field :deadline, id: :submission_deadline, placeholder: '入力してください'%>
</div>
