  <% if submission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(submission.errors.count, "error") %> prohibited this submission from being saved:</h2>

      <ul>
      <% submission.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :対象 %>
    <table>
      <tr>
        <th></th><th></th><th></th><th></th>
      </tr>
      <tr>
        <td><label><%= check_box_tag "[target][11]" %>1年1組</label></td>
        <td><label><%= check_box_tag "[target][12]" %>1年2組</label></td>
        <td><label><%= check_box_tag "[target][13]" %>1年3組</label></td>
        <td><label><%= check_box_tag "[target][14]" %>1年4組</label></td>
      </tr>
      <tr>
        <td><label><%= check_box_tag "[target][21]" %>2年1組</label></td>
        <td><label><%= check_box_tag "[target][22]" %>2年2組</label></td>
        <td><label><%= check_box_tag "[target][23]" %>2年3組</label></td>
        <td><label><%= check_box_tag "[target][24]" %>2年4組</label></td>
      </tr>
      <tr>
        <td><label><%= check_box_tag "[target][31]" %>3年1組</label></td>
        <td><label><%= check_box_tag "[target][32]" %>3年2組</label></td>
        <td><label><%= check_box_tag "[target][33]" %>3年3組</label></td>
        <td><label><%= check_box_tag "[target][34]" %>3年4組</label></td>
      </tr>
    </table>
  </div>

  <div class="field">
    <%= form.label :画像 %>
    <%= form.file_field :filename %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>