<div class="s-sub"></div>
  <div class="s-sub s-sub2"></div>
  <div class="s-sub s-sub3"></div>

<% if params[:commit] == "選択編集" %>
      <b><font class="s-title">提出物選択編集</font></b>
<% else %>
      <b><font class="s-title">提出物選択削除</font></b>
<% end %>

<%= form_tag('/submissions_select_edit_all') do %>
    <% if params[:commit] == "選択編集" %>
      <div class="field">
        <%= label_tag :科目 %>
        <%= text_field_tag 'submission[subject]' %>
      </div>

      <div class="field">
        <%= label_tag :タイトル %>
        <%= text_field_tag 'submission[title]' %>
      </div>

      <div class="field">
        <%= label_tag :期限 %>
        <%= date_field_tag 'submission[deadline]' %>
      </div>
      以下のデータを一括編集します。編集したくないデータは、チェックを外してください。
      <% else %>
      以下のデータを一括削除します。削除したくないデータは、チェックを外してください。
      <% end %>
 <table border = "1" width = "100%">
    <thead class="s-hyou2">

     <tr>
       <th></th>
       <th class="fs25">科目</th>
       <th class="fs25">タイトル</th>
       <th class="fs25">対象</th>
       <th class="fs25">期限</th>
     </tr>
   </thead>

   <tbody class="s-hyou">
     <% @submissions.each do |submission| %>
       <tr>
         <td align="center"><%= check_box_tag "select_datas[#{ submission.id }]", 
         submission.id, {:checked => "checked"},:class => "list" %></td>
         <td align="center"><%= submission.subject %></td>
         <td align="center"><%= submission.title %></td>
         <td align="center"><%= submission.grade %>-<%= submission.class_room %></td>
         <td align="center"><%= submission.deadline %></td>
       </tr>
     <% end %>
   </tbody>
 </table>

 <% if params[:commit] == "選択編集" %>
   <%= submit_tag "選択編集" , onclick: "return isCheck()" %>
 <% else %>
   <%= submit_tag "選択削除" , onclick: "return isCheck()" %>
 <% end %>
   <%= link_to '一覧に戻る', submissions_path,class:"btn-sub" %>
<% end %>

<script type="text/javascript">
function isCheck() {
  var arr_checkBoxes = document.getElementsByClassName("list");
  var count = 0;
  for (var i = 0; i <arr_checkBoxes.length; i++) {
    if (arr_checkBoxes[i].checked) {
      count++;
    }
  }
  if (count > 0) {
    return true;
  } else {
    window.alert("項目を選択してください。");
    return false;
  }
}
</script>