<% if params[:commit] == "選択編集" %>
      <h1>提出物一括編集</h1>
<% else %>
      <h1>選択削除画面</h1>
<% end %>

<%= form_tag('/submissions_select_edit_all') do %>
    <% if params[:commit] == "選択編集" %>
    <div class="field">
      <%= label_tag :科目 %>
      <%= text_field_tag 'submission[subject]' %>
    </div>
    <div class="field">
      <%= label_tag :タイトル %>
      <%= text_field_tag 'submission[title]' %>
    </div>
    <div class="field">
      <%= label_tag :期限 %>
      <%= date_field_tag 'submission[deadline]' %>
    </div>
    <% end %>

<table border = "1" width = "100%">
    </thead>

     <tr>
       <th></th>
       <th>科目</th>
       <th>タイトル</th>
       <th>対象</th>
       <th>期限</th>
     </tr>
   </thead>

   <tbody>
     <% @submissions.each do |submission| %>
       <tr>
         <td align="center"><%= check_box_tag "select_datas[#{ submission.id }]", submission.id, {:checked => "checked"} %></td>
         <td align="center"><%= submission.subject %></td>
         <td align="center"><%= submission.title %></td>
         <td align="center"><%= submission.grade %>-<%= submission.class_room %></td>
         <td align="center"><%= submission.deadline %></td>
       </tr>
     <% end %>
   </tbody>
</table>

<% if params[:commit] == "選択編集" %>
 <%= submit_tag "選択編集" %>
<% else %>
 <%= submit_tag "選択削除" %>
<% end %>　　　　　　　　　　　<%= link_to '一覧に戻る', submissions_path %>
<% end %>