<p id="notice">
  <%= notice %>
</p>

<b><font size="6">
  提出物詳細
</font></b>

<p>
  <strong>科目</strong>
  <%= @submission.subject %>
</p>

<p>
  <strong>タイトル</strong>
  <%= @submission.title %>
</p>

<p>
  <strong>期限</strong>
  <%= @submission.deadline %>
</p>

<p>
    <%= @submission.grade %>
  <strong>年</strong>
    <%= @submission.class_room %>
  <strong>組</strong>
</p>

<table>
  <thead>
    <tr>
      <th>名前</th>
      <th>提出状況</th>
    </tr>
  </thead>
  <tbody>
    <% @members.each_with_index do |member,index| %>
      <tr>
       <% if @submission[Submission.column_names[ index + 7 ].to_sym] == 0 %>
         <td align="center" style="color:#ff0000"><%= member.name %></td>
       <% elsif @submission[Submission.column_names[ index + 7 ].to_sym] == 1 %>
         <td align="center" style="color:#ffa500"><%= member.name %></td>
       <% else %>
         <td align="center"><%= member.name %></td>
       <% end %>
       <td><%= SUBMISSION_LIST[@submission[Submission.column_names[ index + 7 ].to_sym]] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<table>
  <tr>
   <td>
     <% if @submission.filename.present? %>
       <%= image_tag @submission.filename %>
     <% end %>
    </td>
  </tr>
  
</table>

<%= link_to '戻る', submissions_path %>
