<p id="notice">
  <%= notice %>
</p>

<b><font size="6">
  提出物詳細
</font></b>

<div class="s-sub"></div>
  <div class="s-sub s-sub2"></div>
  <div class="s-sub s-sub3"></div>

<p>
  <strong>科目</strong>
  <%= @submission.subject %>
</p>

<p>
  <strong>タイトル</strong>
  <%= @submission.title %>
</p>

<p>
  <strong>期限</strong>
  <%= @submission.deadline %>
</p>

<p>
    <%= @submission.grade %>
  <strong>年</strong>
    <%= @submission.class_room %>
  <strong>組</strong>
</p>

<table border = "1" width = "100%">
  <thead class = "s-hyou2">
    <tr>
      <th>名前</th>
      <th>提出状況</th>
    </tr>
  </thead>
  <tbody class = "s-hyou">
    <% @members.each_with_index do |member,index| %>
      <tr>
       <% if @submission[Submission.column_names[ index + 7 ].to_sym] == 0 %>
         <td align="center" style="color:#ff0000"><font size="4"><%= member.name %></font></td>
       <% elsif @submission[Submission.column_names[ index + 7 ].to_sym] == 1 %>
         <td align="center" style="color:#ffa500"><font size="4"><%= member.name %></font></td>
       <% else %>
         <td align="center"><font size="4"><%= member.name %></font></td>
       <% end %>
       <td><font size="4"><%= SUBMISSION_LIST[@submission[Submission.column_names[ index + 7 ].to_sym]] %></font></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to '戻る', submissions_path,class:"btn-sub" %>
