<%= form_with(model: annual_event, local: true) do |form| %>
  <% if annual_event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(annual_event.errors.count, "error") %> prohibited this annual_event from being saved:</h2>

      <ul>
      <% annual_event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :画像 %>
    <%= form.text_field :filename, id: :annual_event_filename %>
  </div>

  <span>
    <div class="actions">
      <%= submit_tag "登録" %>
    </div>
  </span>
<% end %>
