<p id="notice"><%= notice %></p>

<b>行事予定</b>

<div class="a-sub"></div>
<div class="a-sub a-sub2"></div>
<div class="a-sub a-sub3"></div>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @annual_events.each do |annual_event| %>
      <tr>
          <% if annual_event.filename.present? %>
            <td><%= image_tag annual_event.filename %></td>
          <% end %>

          <% if @user_code && @user_code.first == "t" %>
            <td><%= link_to '閲覧', annual_event %></td>
            <td><%= link_to '編集', edit_annual_event_path(annual_event) %></td>
            <td><%= link_to '削除', annual_event, method: :delete, data: { confirm: '本当に削除しますか？?' } %></td>
            <td><%= link_to '登録', new_annual_event_path,class:"btn.submit" %></td>
          <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
