<!DOCTYPE html>
<html>
  <head>
    <title>Suns</title>
    <%= csrf_meta_tags %>

    <header>
    <tr>
     <td><%= link_to 'Suns', home_top_path %></td>
      <td><%= link_to '提出物一覧', submissions_path %></td>
      <td><%= link_to 'お知らせ一覧', notifications_path %></td>
      
      <!--<% if @annual_event %>
      <a href="http://localhost:3000/assets/67657855_2350024025221048_4480904606704795699_n-dc51f7e1fbb6e87694a4d2029fe60f633fc1e09b3935aacacc244b57832b028d.jpg" >行事予定</a>
        <%= link_to '行事予定', asset_url("#{@annual_event.filename}"), target: :_blank %>
      <% end %>-->

      <% if @user_code && @user_code.first == "t" %>
      <td><%= link_to 'ユーザー一覧', users_path %></td>
      <% end %>

      <td><%= link_to 'ログアウト',home_logout_path %></td>
      </tr>
     </header>

     <br>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--<h3 style="text-align: left">お知らせ・提出物管理システム</h3>-->

    <span>
  <div style="font-size:30px; text-align:right"><%=  Date.current.strftime('%Y/%m/%d(%a)') %></div>

  </span>

  </head>

  <body>
    <%= yield %>
  </body>

  <!-- <footer>
   <h3 style="text-align: center; width: 95%; background-color: #89c7de; color: #fff; padding: 30px 0; position: absolute; bottom: 0;">出雲商業高校</h3>
  </footer> -->
</html>
