<!DOCTYPE html>
<html>
  <head>
    <title>
      Suns
    </title>

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <header>
      <tr>
        <td><%= link_to 'Suns', home_top_path,class: "btn-suns" %></td>
        <td><%= link_to '提出物一覧', submissions_path,class: "btn-sub" %></td>
        <td><%= link_to 'お知らせ一覧', notifications_path,class: "btn-not" %></td>
      
          <% if @annual_event %>
            <%= link_to '行事予定', asset_url("#{@annual_event.filename}"),class: "btn-anu", target: :_blank %>
          <% end %>

          <% if @user_code && @user_code.first == "t" %>
            <td><%= link_to 'ユーザー一覧', users_path,class: "btn-users" %></td>
          <% end %>
            <td><%= link_to 'ログアウト',home_logout_path,class: "btn-logout-head" %></td>
      </tr>
    </header>

     <br>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--<h3 style="text-align: left">お知らせ・提出物管理システム</h3>-->

     <!--<span>
       <div style="font-size:35px; text-align:right;font-weight: bold"><%=  Date.current.strftime('%Y/%m/%d(%a)') %></div> 
     </span> -->

  </head>

  <body>
    <%= yield %>
  </body>

  <!-- <footer>
   <h3 style="text-align: center; width: 95%; background-color: #89c7de; color: #fff; padding: 30px 0; position: absolute; bottom: 0;">出雲商業高校</h3>
  </footer> -->
</html>
